.histogram {
    display: flex;
    flex-direction: column;
    width: 354px;
    height: 185px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    padding: 16px 24px 24px 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    margin: 0;
}

.histogram__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    margin: 0;
}

.histogram__header a {
    text-decoration: none;
    color: var(--blue);
}

.histogram__number {
    flex-grow: 1;
    margin-top: 5px;
}

.histogram__number > h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin: 0;
}

.histogram__chart {
    display: flex;
    height: 50px;
    width: 300px;
    align-items: baseline;
}

.histogram__column {
    background-color: var(--blue);
    margin-right: 1px;
    flex-grow: 1;
}

.histogram__column-1 { height: 1px;}
.histogram__column-3 { height: 3px;}
.histogram__column-6 { height: 6px;}
.histogram__column-8 { height: 8px;}
.histogram__column-9 { height: 9px;}
.histogram__column-12 { height: 12px;}
.histogram__column-15 { height: 15px;}
.histogram__column-17 { height: 17px;}
.histogram__column-20 { height: 20px;}
.histogram__column-21 { height: 21px;}
.histogram__column-24 { height: 24px;}
.histogram__column-26 { height: 26px;}
.histogram__column-29 { height: 29px;}
.histogram__column-31 { height: 31px;}
.histogram__column-32 { height: 32px;}
.histogram__column-35 { height: 35px;}
.histogram__column-37 { height: 37px;}
.histogram__column-39 { height: 39px;}
.histogram__column-41 { height: 41px;}
.histogram__column-44 { height: 44px;}
.histogram__column-46 { height: 46px;}
.histogram__column-48 { height: 48px;}
.histogram__column-50 { height: 50px;}